{% extends 'layouts/layout.html.twig' %}

{% block main %}
    <div class="container-fluid container-lg border rounded pt-5 px-5">
        <div class="d-flex justify-content-center">
            <div class="col-12 col-md-6">

                <form method="post">
                    <h2>{{ 'reset_password' | trans }}</h2>
                    <p>{{ 'reset_password_text' | trans }}</p>
                    <input type="email" id="email" name="email" required="required" class="form-control" value="{{ emailPrefill }}" />

                    <div class="form-group">
                        <button type="submit" id="_submit" name="_submit" class="btn-success btn-lg btn-block mt-4 btn">{{ 'reset_my_password' | trans }}</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
{% endblock %}
