{% extends('layouts/email.html.twig') %}

{% block main %}
    {{  pimcore_wysiwyg("passwordRecoveryMailContent") }}

    {#<h1>Hello {{ customerFirstname }}</h1>

    <p>Please follow&nbsp;<a href="{{ tokenLink }}">this link</a> to reset your password.</p>

    <p>&nbsp;</p>

    <p>See you there...</p>

    <p>The MYS Crew</p>#}

{% endblock %}
