{% extends 'layouts/layout.html.twig' %}

{% block main %}
    <div class="container border rounded pt-5 px-5 mt-5">
        <div class="d-flex justify-content-center">
            <div class="col-12 col-md-6">
                <form method="post">
                    <h2>{{ 'set_a_new_password' | trans }}</h2>

                    <input type="password" id="password" name="password" required="required" class="form-control" placeholder="{{ 'new_password' | trans }}">
                    <input type="hidden" id="token" name="token" value="{{ token }}" />

                    <div class="form-group">
                    <button type="submit" id="_submit" name="_submit" class="btn-success btn-lg btn-block mt-4 btn">{{ 'reset_my_password' | trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
