{% extends 'layouts/layout.html.twig' %}

{% block main %}
    <h1>{{ pimcore_input('productTeaserTitle', {'toolsTitle':'Tools Title'}) }}</h1>

    {{ pimcore_areablock('toolsAreablock', {
            'allowed': ['tool-cards'],
            'limits': {
                'tool-cards': 1
            }
        })
    }}
{% endblock %}
