{# Main content #}
<div class="container mt-5">
    {# Integrate an Areablock in the Template #}
    {{ pimcore_areablock('mainAreablock', {
            'allowed': ['hero-banner', 'tool-card']
        })
    }}
</div>
