{% extends 'layouts/layout.html.twig' %}

{% block main %}
<h1>{{ pimcore_input('toolsTitle', {'placeholder': 'Tools title'}) }}</h1>
{{ pimcore_areablock("startPageAreablock", {
    "allowed": ["tool-cards"],
    "limits": {
        "tool-cards": 1
    },
}) }}
{% endblock %}
