{% extends 'layouts/layout.html.twig' %}

{% block main %}
    {# Page title #}
    <h1 class="w-75">{{ pimcore_input('header', {'placeholder' : 'Heading'}) }}</h1>

    {# Video #}
    <div class="mt-3">
        {{ pimcore_video('video', {
            height: 417,
            attributes : {
                class : 'border border-5 rounded-3'
            }
        }) }}
    </div>

    {# Tools #}
    <div class="mt-3">
        <h4>{{ pimcore_input('tools_title', {'placeholder': 'Tools title'}) }}</h4>
        {{ pimcore_areablock("startPageAreablock", {
                "allowed": ["tool-card"],
                "limits": {
                "tool-card": 1
                }
            })
        }}
    </div>
{% endblock %}
